body {
	font-family: 'Nunito', sans-serif;
}

nav li {
	display: inline;
	list-style-type: none;
}

nav {
	margin-top: 20px;
}

nav a {
	color: #00b1bd;
}

.landing {
/*	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("img/surgery-landing.jpeg");
	background-size: cover;
	height: 600px;
	color: white;*/
	text-align: center;
}

/*.landing a, .landing a:hover, .landing a:focus {
	color: white;
}*/

/*.landing h1, .landing p {
	position: relative;
	top: 350px;
}*/

.h-display__panel[aria-hidden=true] {
  display: none;
}

.h-display__header {
  display: block;
}

/* title opened */
.h-display__header[aria-expanded="true"]:before {
  content: "- ";
}
/* title closed */
.h-display__header[aria-expanded="false"]:before {
  content: "+ ";
}


/*.h-display__panel[aria-hidden=true] {
  display: none;
}*/

img {
	height: 200px;
	width: auto;
}


.new-hospitalization, .ask-questions {
	margin-bottom: 50px;
}

.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

@media only screen and (min-width: 640px) {
	.landing {
		height: 800px;
	}
}
